body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(229, 243, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 251, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4832 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:647px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4833 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4835 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u4836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4836 {
  position:absolute;
  left:168px;
  top:11px;
  width:40px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4837 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4838 {
  position:absolute;
  left:322px;
  top:6px;
  width:33px;
  height:33px;
}
#u4839 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
}
#u4840 {
  position:absolute;
  left:15px;
  top:85px;
  width:345px;
  height:140px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4842 {
  position:absolute;
  left:15px;
  top:445px;
  width:345px;
  height:140px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4844 {
  position:absolute;
  left:15px;
  top:265px;
  width:345px;
  height:140px;
}
#u4845 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4846 {
  position:absolute;
  left:151px;
  top:181px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4847 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4848 {
  position:absolute;
  left:142px;
  top:362px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4849 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4850 {
  position:absolute;
  left:151px;
  top:539px;
  width:73px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4852 {
  position:absolute;
  left:163px;
  top:109px;
  width:50px;
  height:50px;
}
#u4853 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4854 {
  position:absolute;
  left:166px;
  top:297px;
  width:45px;
  height:45px;
}
#u4855 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4856 {
  position:absolute;
  left:163px;
  top:471px;
  width:45px;
  height:45px;
}
#u4857 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858 {
  position:absolute;
  left:15px;
  top:85px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4859 {
  position:absolute;
  left:15px;
  top:265px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4860 {
  position:absolute;
  left:16px;
  top:445px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4861 {
  position:absolute;
  left:10px;
  top:7px;
  width:30px;
  height:30px;
}
#u4862 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u4864 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4865 {
  position:absolute;
  left:0px;
  top:44px;
  visibility:hidden;
}
#u4865_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:27px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4869 {
  position:absolute;
  left:8px;
  top:10px;
  width:77px;
  height:16px;
  color:#666666;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4871 {
  position:absolute;
  left:14px;
  top:45px;
  width:51px;
  height:16px;
  color:#666666;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u4873 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:1px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875 {
  position:absolute;
  left:-4px;
  top:0px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4876 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4877 {
  position:absolute;
  left:254px;
  top:44px;
  width:121px;
  height:108px;
  overflow:hidden;
  visibility:hidden;
}
#u4877_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4877_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:1px;
  top:0px;
  width:120px;
  height:120px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:36px;
  width:120px;
  height:1px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u4882 {
  position:absolute;
  left:1px;
  top:72px;
  width:120px;
  height:1px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884 {
  position:absolute;
  left:0px;
  top:-3px;
  width:121px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4885 {
  position:absolute;
  left:1px;
  top:36px;
  width:121px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4886 {
  position:absolute;
  left:-2px;
  top:72px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4888 {
  position:absolute;
  left:38px;
  top:10px;
  width:57px;
  height:16px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4890 {
  position:absolute;
  left:8px;
  top:10px;
  width:15px;
  height:15px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  position:absolute;
  left:38px;
  top:46px;
  width:71px;
  height:16px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4895 {
  position:absolute;
  left:8px;
  top:46px;
  width:15px;
  height:15px;
}
#u4896 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:38px;
  top:82px;
  width:57px;
  height:16px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4900 {
  position:absolute;
  left:8px;
  top:82px;
  width:15px;
  height:15px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
