body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4685 {
  position:absolute;
  left:33px;
  top:115px;
  width:375px;
  height:667px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4686 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:896px;
}
#u4687 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:896px;
}
#u4688 {
  position:absolute;
  left:2px;
  top:440px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(229, 243, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 251, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4689 {
  position:absolute;
  left:33px;
  top:115px;
  width:375px;
  height:667px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4690 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4691 {
  position:absolute;
  left:33px;
  top:115px;
  width:375px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4692 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4693 {
  position:absolute;
  left:33px;
  top:135px;
  width:375px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4694 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4695 {
  position:absolute;
  left:201px;
  top:146px;
  width:40px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4697 {
  position:absolute;
  left:355px;
  top:141px;
  width:33px;
  height:33px;
}
#u4698 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
}
#u4699 {
  position:absolute;
  left:48px;
  top:220px;
  width:345px;
  height:140px;
}
#u4700 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4701 {
  position:absolute;
  left:48px;
  top:580px;
  width:345px;
  height:140px;
}
#u4702 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4703 {
  position:absolute;
  left:48px;
  top:400px;
  width:345px;
  height:140px;
}
#u4704 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4705 {
  position:absolute;
  left:184px;
  top:316px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4707 {
  position:absolute;
  left:175px;
  top:497px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4709 {
  position:absolute;
  left:184px;
  top:674px;
  width:73px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4711 {
  position:absolute;
  left:196px;
  top:244px;
  width:50px;
  height:50px;
}
#u4712 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4713 {
  position:absolute;
  left:199px;
  top:432px;
  width:45px;
  height:45px;
}
#u4714 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4715 {
  position:absolute;
  left:196px;
  top:606px;
  width:45px;
  height:45px;
}
#u4716 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717 {
  position:absolute;
  left:48px;
  top:220px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4718 {
  position:absolute;
  left:48px;
  top:400px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4719 {
  position:absolute;
  left:48px;
  top:580px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4720 {
  position:absolute;
  left:287px;
  top:179px;
  visibility:hidden;
}
#u4720_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4720_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4721 {
  position:absolute;
  left:1px;
  top:0px;
  width:120px;
  height:120px;
}
#u4722 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u4723 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:1px;
}
#u4724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4726 {
  position:absolute;
  left:38px;
  top:11px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4727 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4728 {
  position:absolute;
  left:8px;
  top:11px;
  width:20px;
  height:20px;
}
#u4729 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u4730 {
  position:absolute;
  left:1px;
  top:80px;
  width:120px;
  height:1px;
}
#u4731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4733 {
  position:absolute;
  left:38px;
  top:51px;
  width:81px;
  height:19px;
}
#u4734 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4735 {
  position:absolute;
  left:8px;
  top:51px;
  width:18px;
  height:18px;
}
#u4736 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4738 {
  position:absolute;
  left:38px;
  top:91px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4739 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4740 {
  position:absolute;
  left:8px;
  top:91px;
  width:18px;
  height:18px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4742 {
  position:absolute;
  left:43px;
  top:142px;
  width:30px;
  height:30px;
}
#u4743 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744 {
  position:absolute;
  left:33px;
  top:179px;
  visibility:hidden;
}
#u4744_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4744_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4746 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
}
#u4747 {
  position:absolute;
  left:2px;
  top:27px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4748 {
  position:absolute;
  left:8px;
  top:10px;
  width:77px;
  height:16px;
  color:#666666;
}
#u4749 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u4750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4750 {
  position:absolute;
  left:14px;
  top:45px;
  width:51px;
  height:16px;
  color:#666666;
}
#u4751 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u4752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u4752 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:1px;
}
#u4753 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4754 {
  position:absolute;
  left:-4px;
  top:0px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4755 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
