body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(229, 243, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 251, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4969 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:647px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4970 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(50, 160, 209, 1) 0%, rgba(50, 160, 209, 1) 0%, rgba(102, 204, 255, 1) 100%, rgba(102, 204, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4972 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4973 {
  position:absolute;
  left:168px;
  top:11px;
  width:40px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4975 {
  position:absolute;
  left:322px;
  top:6px;
  width:33px;
  height:33px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
}
#u4977 {
  position:absolute;
  left:15px;
  top:85px;
  width:345px;
  height:140px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 204, 255, 1) 0%, rgba(102, 204, 255, 1) 0%, rgba(102, 153, 255, 1) 100%, rgba(102, 153, 255, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4979 {
  position:absolute;
  left:15px;
  top:445px;
  width:345px;
  height:140px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:140px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 153, 1) 0%, rgba(255, 255, 153, 1) 0%, rgba(255, 206, 56, 1) 95%, rgba(255, 204, 153, 1) 100%, rgba(255, 204, 153, 1) 100%);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:15px;
  top:265px;
  width:345px;
  height:140px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:62px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4983 {
  position:absolute;
  left:151px;
  top:181px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4985 {
  position:absolute;
  left:142px;
  top:362px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4987 {
  position:absolute;
  left:151px;
  top:539px;
  width:73px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u4988 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4989 {
  position:absolute;
  left:163px;
  top:109px;
  width:50px;
  height:50px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4991 {
  position:absolute;
  left:166px;
  top:297px;
  width:45px;
  height:45px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4993 {
  position:absolute;
  left:163px;
  top:471px;
  width:45px;
  height:45px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995 {
  position:absolute;
  left:15px;
  top:85px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4996 {
  position:absolute;
  left:15px;
  top:265px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4997 {
  position:absolute;
  left:16px;
  top:445px;
  width:345px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4998 {
  position:absolute;
  left:254px;
  top:44px;
  visibility:hidden;
}
#u4998_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4998_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4999 {
  position:absolute;
  left:1px;
  top:0px;
  width:120px;
  height:120px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:1px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5004 {
  position:absolute;
  left:38px;
  top:11px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5006 {
  position:absolute;
  left:8px;
  top:11px;
  width:20px;
  height:20px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u5008 {
  position:absolute;
  left:1px;
  top:80px;
  width:120px;
  height:1px;
}
#u5009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5011 {
  position:absolute;
  left:38px;
  top:51px;
  width:81px;
  height:19px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5013 {
  position:absolute;
  left:8px;
  top:51px;
  width:18px;
  height:18px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5016 {
  position:absolute;
  left:38px;
  top:91px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5018 {
  position:absolute;
  left:8px;
  top:91px;
  width:18px;
  height:18px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5021 {
  position:absolute;
  left:0px;
  top:40px;
  width:121px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5022 {
  position:absolute;
  left:0px;
  top:79px;
  width:121px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5023 {
  position:absolute;
  left:10px;
  top:7px;
  width:30px;
  height:30px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025 {
  position:absolute;
  left:0px;
  top:44px;
  visibility:hidden;
}
#u5025_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:70px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:27px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5029 {
  position:absolute;
  left:8px;
  top:10px;
  width:77px;
  height:16px;
  color:#666666;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5031 {
  position:absolute;
  left:14px;
  top:45px;
  width:51px;
  height:16px;
  color:#666666;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:2px;
}
#u5033 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:1px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035 {
  position:absolute;
  left:-4px;
  top:0px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5036 {
  position:absolute;
  left:0px;
  top:37px;
  width:100px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5037 {
  position:absolute;
  left:-14px;
  top:0px;
  width:375px;
  height:647px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
