body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-33px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u1 {
  position:absolute;
  left:171px;
  top:184px;
  width:113px;
  height:113px;
}
#u2 {
  position:absolute;
  left:2px;
  top:48px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u4 {
  position:absolute;
  left:271px;
  top:192px;
  width:48px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u7 {
  position:absolute;
  left:258px;
  top:179px;
  width:75px;
  height:75px;
}
#u8 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:33px;
  top:135px;
  width:375px;
  height:647px;
}
#u10 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u11 {
  position:absolute;
  left:33px;
  top:135px;
  width:375px;
  height:647px;
  opacity:0.7;
}
#u12 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:459px;
}
#u13 {
  position:absolute;
  left:48px;
  top:252px;
  width:345px;
  height:459px;
  opacity:0.8;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:222px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:96px;
  top:423px;
  width:250px;
  height:29px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:29px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:141px;
  top:480px;
  width:205px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19 {
  position:absolute;
  left:96px;
  top:510px;
  width:250px;
  height:1px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u21 {
  position:absolute;
  left:98px;
  top:474px;
  width:33px;
  height:33px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u24 {
  position:absolute;
  left:96px;
  top:585px;
  width:250px;
  height:1px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:141px;
  top:555px;
  width:205px;
  height:30px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u27 {
  position:absolute;
  left:98px;
  top:549px;
  width:33px;
  height:33px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u29 {
  position:absolute;
  left:164px;
  top:188px;
  width:120px;
  height:120px;
}
#u30 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(18, 150, 219, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:121px;
  top:622px;
  width:200px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u33 {
  position:absolute;
  left:57px;
  top:314px;
  width:328px;
  height:79px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  word-wrap:break-word;
}
