body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:408px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1 {
  position:absolute;
  left:271px;
  top:192px;
  width:48px;
  height:48px;
}
#u2 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4 {
  position:absolute;
  left:258px;
  top:179px;
  width:75px;
  height:75px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:33px;
  top:135px;
  width:375px;
  height:647px;
}
#u7 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  opacity:0.7;
}
#u9 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:459px;
}
#u10 {
  position:absolute;
  left:15px;
  top:117px;
  width:345px;
  height:459px;
  opacity:0.8;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:222px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:63px;
  top:288px;
  width:250px;
  height:29px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:29px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  position:absolute;
  left:108px;
  top:345px;
  width:205px;
  height:30px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u16 {
  position:absolute;
  left:63px;
  top:375px;
  width:250px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u18 {
  position:absolute;
  left:65px;
  top:339px;
  width:33px;
  height:33px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u21 {
  position:absolute;
  left:63px;
  top:450px;
  width:250px;
  height:1px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:108px;
  top:420px;
  width:205px;
  height:30px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u24 {
  position:absolute;
  left:65px;
  top:414px;
  width:33px;
  height:33px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u26 {
  position:absolute;
  left:131px;
  top:53px;
  width:120px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:88px;
  top:487px;
  width:200px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u30 {
  position:absolute;
  left:24px;
  top:179px;
  width:328px;
  height:79px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:324px;
  word-wrap:break-word;
}
