body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1 {
  position:absolute;
  left:271px;
  top:192px;
  width:48px;
  height:48px;
}
#u2 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4 {
  position:absolute;
  left:258px;
  top:179px;
  width:75px;
  height:75px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  opacity:0.7;
}
#u7 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:459px;
}
#u8 {
  position:absolute;
  left:15px;
  top:117px;
  width:345px;
  height:459px;
  opacity:0.8;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:222px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:63px;
  top:288px;
  width:250px;
  height:30px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10_input:disabled {
  color:grayText;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12 {
  position:absolute;
  left:102px;
  top:346px;
  width:205px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u13 {
  position:absolute;
  left:63px;
  top:377px;
  width:250px;
  height:1px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15 {
  position:absolute;
  left:65px;
  top:348px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u18 {
  position:absolute;
  left:63px;
  top:444px;
  width:250px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:413px;
  width:205px;
  height:30px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u21 {
  position:absolute;
  left:65px;
  top:415px;
  width:25px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u23 {
  position:absolute;
  left:128px;
  top:53px;
  width:120px;
  height:120px;
}
#u24 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:63px;
  top:491px;
  width:250px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u27 {
  position:absolute;
  left:70px;
  top:179px;
  width:236px;
  height:79px;
  font-family:'华文楷体 Bold', '华文楷体 Regular', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:232px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ZhunYuan Regular', 'ZhunYuan';
  font-weight:402;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u29 {
  position:absolute;
  left:44px;
  top:609px;
  width:287px;
  height:16px;
  font-family:'ZhunYuan Regular', 'ZhunYuan';
  font-weight:402;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
